<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 title">
      <h1>Will's Tea Repertoire</h1>
      <p>Making Tea Fairer!</p>
      <p> <%= link_to "view groups", tea_groups_path %> </p>
    </div>
  </div>
</div>


